$bg-color: #F5F5F7;
$card-bg: rgba(255, 255, 255, 0.25);
$shadow: 18px 18px 30px 0 #D1D9E6, -18px -18px 30px 0 #FFF;;
$radius: 18px;

$light-bg: rgba(255, 255, 255, 0.25);
$dark-bg: #121212;

$light-text: #f8f9fa;
$dark-text: #212529;
